<configuration>
    <components>

        <partial-component id="Initialize">
            <parameters>
                <tasks>
                    <array>
                        <value insert-before="${Initialize.ExecuteUpdateCurrencyExchangeRatesPipelineTask.Async}">${CreatePriceGroupTask}</value>
                        <value insert-before="${Initialize.ExecuteUpdateCurrencyExchangeRatesPipelineTask.Async}">${CreateCountryTask}</value>
                        <value insert-before="${Initialize.ExecuteUpdateCurrencyExchangeRatesPipelineTask.Async}">${CreateDataTypeTask}</value>
                        <value insert-before="${Initialize.ExecuteUpdateCurrencyExchangeRatesPipelineTask.Async}">${CreateDefinitionTask}</value>
                        <value insert-before="${Initialize.ExecuteUpdateCurrencyExchangeRatesPipelineTask.Async}">${CreateEmailTask}</value>
                        <value insert-before="${Initialize.ExecuteUpdateCurrencyExchangeRatesPipelineTask.Async}">${CreateProductDefinitionTask}</value>
                        <value insert-before="${Initialize.ExecuteUpdateCurrencyExchangeRatesPipelineTask.Async}">${CreateProductRelationTypeTask}</value>
                        <value insert-before="${Initialize.ExecuteUpdateCurrencyExchangeRatesPipelineTask.Async}">${CreateOrderNumberSerieTask}</value>
                        <value insert-before="${Initialize.ExecuteUpdateCurrencyExchangeRatesPipelineTask.Async}">${InstallDefaultAcceleratorData}</value>
                        <value remove="${Initialize.ExecuteUpdateCurrencyExchangeRatesPipelineTask.Async}"/>
                    </array>
                </tasks>
            </parameters>
        </partial-component>

        <component
                id="CreatePriceGroupTask"
                service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.Initialization.InitializeArgs, Ucommerce.Pipelines]], Ucommerce"
                type="AvenueClothing.SettingsCreator.CreatePriceGroupTask, AvenueClothing"
        />

        <component
                id="CreateCountryTask"
                service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.Initialization.InitializeArgs, Ucommerce.Pipelines]], Ucommerce"
                type="AvenueClothing.SettingsCreator.CreateCountryTask, AvenueClothing"
        />

        <component
                id="CreateDataTypeTask"
                service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.Initialization.InitializeArgs, Ucommerce.Pipelines]], Ucommerce"
                type="AvenueClothing.SettingsCreator.CreateDataTypeTask, AvenueClothing"
        />

        <component
                id="CreateDefinitionTask"
                service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.Initialization.InitializeArgs, Ucommerce.Pipelines]], Ucommerce"
                type="AvenueClothing.SettingsCreator.CreateDefinitionTask, AvenueClothing"
        />

        <component
                id="CreateEmailTask"
                service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.Initialization.InitializeArgs, Ucommerce.Pipelines]], Ucommerce"
                type="AvenueClothing.SettingsCreator.CreateEmailTask, AvenueClothing"
        />

        <component
                id="CreateProductDefinitionTask"
                service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.Initialization.InitializeArgs, Ucommerce.Pipelines]], Ucommerce"
                type="AvenueClothing.SettingsCreator.CreateProductDefinitionTask, AvenueClothing"
        />

        <component
                id="CreateProductRelationTypeTask"
                service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.Initialization.InitializeArgs, Ucommerce.Pipelines]], Ucommerce"
                type="AvenueClothing.SettingsCreator.CreateProductRelationTypeTask, AvenueClothing"
        />

        <component
                id="CreateOrderNumberSerieTask"
                service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.Initialization.InitializeArgs, Ucommerce.Pipelines]], Ucommerce"
                type="AvenueClothing.SettingsCreator.CreateOrderNumberSerieTask, AvenueClothing"
        />

        <component
                id="InstallDefaultAcceleratorData"
                service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.Initialization.InitializeArgs, Ucommerce.Pipelines]], Ucommerce"
                type="AvenueClothing.SettingsCreator.old.InstallDefaultAcceleratorData, AvenueClothing"
        />

        
        <component
                id="CreateSettingsHelper"
                service="AvenueClothing.SettingsCreator.CreateSettingsHelper, AvenueClothing"
                type="AvenueClothing.SettingsCreator.CreateSettingsHelper, AvenueClothing"
        />
    </components>
</configuration>