@using UCommerce.RazorStore.Models
@model MiniBasketViewModel

@{
    Layout = "";
}

@helper DisplayMiniBasket(MiniBasketViewModel miniBasket)
    {
        if (miniBasket == null || miniBasket.Total == null)
            {
                <a href="/" id="empty-cart">Your Shopping Cart is empty</a>
            }
        else
            {
                <a href="/cart.aspx" id="mini-cart">
                    <i class="icon-shopping-cart icon-white"></i>
                    <span class="item-qty">@miniBasket.NumberOfItems.ToString()</span> items in cart, total: <span class="order-total">@miniBasket.Total.ToString()</span>
                </a>
            }
}

@DisplayMiniBasket(Model)


