<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <components>
        <component id="ProductsIndexDefinition"
                   service="Ucommerce.Search.IIndexDefinition`1[[Ucommerce.Search.Models.Product, Ucommerce.Search]], Ucommerce.Search"
                   type="AvenueClothing.Search.AvenueProductIndexDefinition, AvenueClothing">
        </component>
    </components>
</configuration>