.#{$theme} {
    .btn {
        border-radius: 0;
        border-width: 2px;
        font-family: $font-secondary;
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 0.2rem;
        line-height: 1.6;
        min-width: $btn-min-width;
        padding: 0.5rem 1rem;
        text-transform: uppercase;

        #{$hover-states} {
            box-shadow: none;
        }

        &:disabled,
        &.disabled {
            font-weight: 300;
            opacity: 0.5;
            pointer-events: none;
        }

        &.border-thin {
            border-width: 1px;
        }
    }

    .btn-sm {
        line-height: 1;
        min-width: 0;
        padding: 0.25rem;
    }

    .btn-dark {
        color: $white;
        background: $grey-3;
        border-color: $grey-3;

        #{$hover-states} {
            color: $white;
            background: $black;
            border-color: $black;
        }
    }

    .btn-outline-dark {
        color: $grey-3;
        border-color: $grey-3;

        #{$hover-states} {
            color: $white;
            background: $black;
            border-color: $black;
        }
    }

    .btn-outline-light {
        color: $white;
        border-color: $white;
        border-width: 2px;

        #{$hover-states} {
            color: $black;
            background: $white;
            border-color: $white;
        }
    }

    .btn-outline-secondary {
        color: $grey-6;
        border-color: $grey-6;

        #{$hover-states} {
            color: $white;
            background: $grey-6;
            border-color: $grey-6;
        }
    }

    .btn-success {
        color: $white;
        background: $green;
        border-color: $green;

        #{$hover-states} {
            color: $white;
            background: $green-hover;
            border-color: $green-hover;
        }
    }


    .btn-accordion {
        background: $white;
        color: $grey-3;
        border: 1px solid $grey-3;
        border-width: 0 0 1px;
        display: flex;
            justify-content: space-between;
        font-family: $font-main;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        outline: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;

        .icon {
            transition: transform $ts $tt;
            transform-origin: center;
        }

        &:first-of-type {
            border-top-width: 1px;
        }

        &:hover,
        &[aria-expanded="true"]
         {
            color: $white;
            background: $black;
            border-color: $black;
        }


        &[aria-expanded="true"] {
            .icon {
                transform: rotate(180deg) translateY(-0.5rem);
            }
        }
    }

    .btn-search {
        background: transparent;
        border: 0;
    }
}