.#{$theme} {
    .filterbar {
        .dropdown {
            display: block;
            margin-right: 0.5rem;

            &.open {
                .dropdown-toggle {
                    background-color: $white;
                    border-color: $black;
                    border-bottom-color: $white;
                    z-index: $zi-base + 1;
                }

                .dropdown-menu {
                    display: block;
                    z-index: $zi-base;
                }
            }
        }

        .dropdown-toggle {
            background: $white;
            border: thin solid $white;
            font-weight: 500;
            outline: none;
            padding: 1rem 2rem;
            position: relative;
            text-transform: uppercase;

            &:active {
                border-color: $white;
            }

            &:hover,
            &:focus {
                background-color: mix($white, $grey-d);
            }

            &::after {
                display: none;
            }
        }

        .dropdown-menu {
            border-radius: 0;
            border: thin solid $black;
            margin-top: -1px;
            min-width: 14rem;
            padding: 1.5rem 1rem;
            transition: all $ts $tt;
        }

        select {
            border: thin solid $white;
            margin-right: 0.5rem;
            padding: 1rem 3rem 1rem 1rem;
        }

        label {
            white-space: nowrap;
        }
    }
}