.#{$theme} {
    .product-list {
        @include reset-list;
        display: flex;
            flex-wrap: wrap;

        a {
            color: currentColor;
            flex: 1 1 0;
            line-height: 1.2;
            max-width: calc(50% - 4px);
            padding: 0 2px;
            position: relative;
            text-decoration: none;
            transition: all $ts $tt;

            @include breakpoint(medium) {
                max-width: 276px;
            }


            #{$hover-states} {
                .product-image {
                    filter: brightness(1.1);

                    img {
                        filter: brightness(1.1);
                        transform: scale(1.01);
                    }
                }
            }
        }

        .product-image {
            overflow: hidden;

            img {
                transition: all $ts*2 $tt;
            }
        }
    }
}