@using AvenueClothing.Models
@model MiniBasketViewModel
@{
    Layout = "";
    var defaultCssClasses = "minibasket order-md-10";
    var basketItemsText = Model.NumberOfItems == 1 ? "item" : "items";
}

@if (Model.IsEmpty)
    {
        <a href="/store" class="@defaultCssClasses is-empty text-right" id="empty-basket">
            <span class="icon icon-bag" aria-hidden="true" focusable="false" role="img">
                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/bag.svg")))
            </span>
            <span class="d-none d-lg-inline js-minibasket-empty-text">
                Your Basket is Empty
            </span>
            <span class="item-qty js-minibasket-qty"></span>
            <span class="d-none d-md-inline js-minibasket-text"><span class="order-total js-minibasket-total"></span></span>
        </a>
    }

    else
    {
        <a href="/basket" class="@defaultCssClasses has-items" id="mini-basket">
            @*<i class="icon-shopping-cart icon-white"></i>*@
            <span class="icon icon-bag" aria-hidden="true" focusable="false" role="img">
                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/icons/bag.svg")))
            </span>
            <span class="item-qty">@Model.NumberOfItems</span>
            <span class="d-none d-md-inline"> @basketItemsText in basket: <span class="order-total">@Model.Total</span></span>
        </a>
    }