<configuration>
    <components>
        <partial-component id="Initialize">
            <parameters>
                <tasks>
                    <array>
                        <value insert="last">${Initialize.InstallAccelerator}</value>
                    </array>
                </tasks>
            </parameters>
        </partial-component>
        
        <component
            id="Initialize.InstallAccelerator"
            service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
            type="UCommerce.RazorStore.Installer.Initialize.InstallAccelerator, UCommerce.RazorStore.Installer"/>
    </components>
</configuration>  