@using UCommerce.Api
@using UCommerce.EntitiesV2
@using UCommerce.Runtime

<ul class="breadcrumb">
    
    @{
        Category lastCategory = null;
        foreach (var category in WebSiteContext.Categories())
        {
            <li><a href="@CatalogLibrary.GetNiceUrlForCategory(category)">@category.DisplayName()</a><span class="divider">/</span></li>
            lastCategory = category;
        }

        Product product = SiteContext.Current.CatalogContext.CurrentProduct;
        if (product != null)
        {
            <li><a href="@CatalogLibrary.GetNiceUrlForProduct(product, lastCategory)">@product.DisplayName()</a></li>
        }
    }
</ul>

