@using UCommerce.Api
@using UCommerce.EntitiesV2

@RenderNavigation(CatalogLibrary.GetRootCategories())

@helper RenderNavigation(ICollection<Category> categories)
    {
    if (categories.Any())
    {
        <ul class="nav nav-list">
            @foreach (var category in categories)
            {
                <li>
                    <a href="@CatalogLibrary.GetNiceUrlForCategory(category.Id)">@category.DisplayName()</a>
                    @RenderNavigation(category.Categories)
                </li>
            }
        </ul>
    }
}