@using UCommerce.Api
@using UCommerce.EntitiesV2
@{
    PurchaseOrder basket = null;
    if(TransactionLibrary.HasBasket())
    {
        basket = TransactionLibrary.GetBasket(false).PurchaseOrder;
    }
}

    @if(basket == null || !basket.OrderLines.Any())
    {
        <a href="/shop">Your Shopping Cart is empty</a>
    }
    else
    {
        <a href="/shop/checkout/cart.aspx" id="mini-cart"><i class="icon-shopping-cart"></i><span class="cart-qty">@basket.OrderLines.Sum(x=>x.Quantity)</span> items in cart, total: <span class="sub-total">@TransactionLibrary.FormatCurrency(@basket.SubTotal)</span></a>
    }
