@using UCommerce.Api
@using UCommerce.EntitiesV2
@{
    PurchaseOrder basket = null;
    if(TransactionLibrary.HasBasket())
    {
        basket = TransactionLibrary.GetBasket(false).PurchaseOrder;
    }
}

    @if(basket == null || !basket.OrderLines.Any())
    {
        <a href="#">Your Shopping Cart is empty</a>
    }
    else
    {
        <a href="/shop/checkout/cart.aspx">@basket.OrderLines.Sum(x=>x.Quantity) items in cart, total: @CatalogLibrary.FormatCurrency(@basket.SubTotal)</a>
    }
