$theme: 'theme-sdr';
$logo: 'logo.svg';
$btn-min-width: 14.5rem;

.#{$theme} {
    .bg-dark {
        background-color: $grey-3 !important;
    }

    .bg-black {
        background-color: $black;
    }

    .bg-light {
        background-color: $grey-e !important;
    }

    .bg-primary {
        background-color: $orange !important;
    }

    .bg-secondary {
        background-color: $green !important;
    }

    .bg-success {
        background-color: $green !important;
    }

    .bg-info {
        background-color: mix($white, $orange, 80) !important;
    }

    .bg-transparent-white {
        background: transparentize($white, 0.1);
    }

    .text-danger {
        color: $red;
    }

    a {
        color: $green;
    }


}