@using UCommerce.Runtime
@{
    var products = SiteContext.Current.CatalogContext.CurrentCatalog.Categories.SelectMany(c => c.Products.Where(p => p.ProductProperties.Any(pp => pp.ProductDefinitionField.Name == "ShowOnHomepage" && Convert.ToBoolean(pp.Value))));
}
<div class="row" id="homepage-catalog">
    <div class="span12">
        @uCommerce.Helpers.Product.DisplayListProducts(products, null)
    </div>
</div>
