@using UCommerce
@using UCommerce.Api
@using UCommerce.EntitiesV2
@using UCommerce.Runtime
@{
    
    PurchaseOrder basket = null;
    var currency = SiteContext.Current.CatalogContext.CurrentCatalog.PriceGroup.Currency;
    var orderTotal = new Money(0, currency);
    if(TransactionLibrary.HasBasket())
    {
        basket = TransactionLibrary.GetBasket(false).PurchaseOrder;
        if(basket.OrderTotal.HasValue)
        {
            orderTotal = new Money(basket.OrderTotal.Value, currency);
        }
    }
}

    @if(basket == null || !basket.OrderLines.Any())
    {
        <a href="/">Your Shopping Cart is empty</a>
    }
    else
    {
        <a href="/cart.aspx" id="mini-cart"><i class="icon-shopping-cart icon-white"></i><span class="item-qty">@basket.OrderLines.Sum(x => x.Quantity).ToString("#,##")</span> items in cart, total: <span class="order-total">@orderTotal</span></a>
    }
