<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
    <add name="DefaultCategoryProductRewrite" virtualUrl="(.*)/c-([0-9]+)/c-([0-9]+)/p-([0-9]+)" rewriteUrlParameter="ExcludeFromClientQueryString"
      destinationUrl="~/catalog/product.aspx?catalog=$2&amp;category=$3&amp;product=$4" ignoreCase="true"/>
    <add name="DefaultProductRewrite" virtualUrl="(.*)/c-([0-9]+)/p-([0-9]+)" rewriteUrlParameter="ExcludeFromClientQueryString"
      destinationUrl="~/catalog/product.aspx?catalog=$2&amp;product=$3" ignoreCase="true"/>
    <add name="DefaultCategoryRewrite" virtualUrl="(.*)/c-([0-9]+)/c-([0-9]+)" rewriteUrlParameter="ExcludeFromClientQueryString"
      destinationUrl="~/category?catalog=$2&amp;category=$3" ignoreCase="true"/>
    <add name="DefaultCatalogRewrite" virtualUrl="(.*)/c-([0-9]+)" rewriteUrlParameter="ExcludeFromClientQueryString"
      destinationUrl="~/category?catalog=$2" ignoreCase="true"/>
  </rewrites>
</urlrewritingnet>
