<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet>
    <rewrites>
        <add name="DefaultCategoryProductRewrite" destinationUrl="~/catalog/product.aspx?catalog=$2&amp;category=$3&amp;product=$4" />
        <add name="DefaultProductRewrite" destinationUrl="~/catalog/product.aspx?catalog=$2&amp;product=$3" />
        <add name="DefaultCategoryRewrite" destinationUrl="~/catalog.aspx?catalog=$2&amp;category=$3" />
        <add name="DefaultCatalogRewrite" destinationUrl="~/catalog.aspx?catalog=$2" />
    </rewrites>
</urlrewritingnet>