<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <location path="ucommerceapi">
        <system.web>
            <httpHandlers>
                <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
            </httpHandlers>
        </system.web>
    </location>
</configuration>
