<configuration>
    <components>
        <component id="ServiceStackApi"
                service="uCommerce.RazorStore.ServiceStack.uCommerceApiAppHost, uCommerce.RazorStore"
                type="uCommerce.RazorStore.ServiceStack.uCommerceApiAppHost, uCommerce.RazorStore" lifestyle="Singleton"/>
    </components>
</configuration>