.#{$theme} {
    legend {
        font-family: $font-heading;
    }

    .single-line-form {
        max-width: 48rem;

        .input-group {
            border-bottom: 2px solid $black;
            padding-bottom: 0.5rem;
        }

        input {
            border: 0;
            font-size: 1rem;
            height: auto;
            line-height: 1;
            margin-right: 1rem;

            @include placeholder {
                text-transform: uppercase;
            }
        }

        input[type="submit"],
        button[type="submit"] {
            font-family: $font-heading;
            font-size: 1.1rem;
            letter-spacing: 0;
            line-height: 1;
            min-width: 0;
            padding: 0.5rem;

            @include breakpoint(medium) {
                padding: 0.5rem 3rem;
            }

            &.btn-sm {
                font-size: 0.9rem
            }
        }
    }
}