.#{$theme} {
    &.scrolled {
        .header-container {
            position: fixed;
                left: 0;
                right: 0;
        }
    }

    .header-container {
        background: $white-transparent;
        transition: background $ts $tt;

        #{$hover-states} {
            background: $white;
        }
    }
}