<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="uCommerce.Core" version="8.4.0.19331" targetFramework="net472" />
  <package id="UmbracoCms.Core" version="8.0.1" targetFramework="net45" />
  <package id="UmbracoCms.Web" version="8.0.1" targetFramework="net45" />
  <package id="uCommerce.Core" version="8.4.1.19353" targetFramework="net472" />
</packages>