/* Common
-------------------------------------------*/
td.money{
text-align: right;
}

/* Product Details Page
-------------------------------------------*/
#product-details {
}
    #product-details select option:disabled {
        font-style:italic;
        color:#dcdcdc;
    }
    #product-details aside .item-price{
        color:#46a546;
        font-weight: bold;
        font-size: 36px;
        line-height: 40px;
        margin: 10px 0;
    }
    #product-details aside .item-tax{
        font-style: italic;
        font-size: 0.9em;
        color:#606060;
    }
/* Cart Page
-------------------------------------------*/
#cart{
}
    #cart .qty{
        text-align: center;
        width: 50px;
    }
    #cart .line-remove {
        float: right;
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        color:#DA4F49;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.4;
        filter: alpha(opacity=40);
    }
    #cart .line-remove:hover {
        color:#DA4F49;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }
    #cart button.line-remove {
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
    }
/* Address page
-------------------------------------------*/
