@using Umbraco.Web
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Layout.cshtml";
}

<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <a class="carousel-item active" href="/demo-store/c/accessories">
            <picture class="d-block w-100">
                <source media="(max-width: 640px)" type="image/jpg"
                srcset="/img/site/slider/slider0-1x.jpg">
                <img src="/img/site/slider/slider0-2x.jpg" alt="Spring Summer Collection 2020">
            </picture>

            <div class="carousel-caption">
                <h5 class="mb-3">SpRing SummeR COLLECTION 2020</h5>
                <div class="btn btn-outline-light">shop now</div>
            </div>
        </a>
        <a class="carousel-item" href="/demo-store/c/tops">
            <picture class="d-block w-100">
                <source media="(max-width: 640px)" type="image/jpg"
                srcset="/img/site/slider/slider1-1x.jpg">
                <img src="/img/site/slider/slider1-2x.jpg" alt="Spring Summer Collection 2020">
            </picture>

            <div class="carousel-caption">
                <h5 class="mb-3">SpRing SummeR COLLECTION 2020</h5>
                <div class="btn btn-outline-light">shop now</div>
            </div>
        </a>m
        <a class="carousel-item" href="/demo-store/c/shoes">
            <picture class="d-block w-100">
                <source media="(max-width: 640px)" type="image/jpg"
                srcset="/img/site/slider/slider2-1x.jpg">
                <img src="/img/site/slider/slider2-2x.jpg" alt="Spring Summer Collection 2020">
            </picture>

            <div class="carousel-caption">
                <h5 class="mb-3">SpRing SummeR COLLECTION 2020 more text</h5>
                <div class="btn btn-outline-light">shop now</div>
            </div>
        </a>
    </div>
</div>

<div class="container no-max-width">
    <div class="row h4 px-2 pt-4">
        <a class="image-link col-sm-6 pb-4" href="/demo-store/c/accessories">
            <img src="/img/site/category-1.jpg" alt="Accessories">
            <span class="caption">Accessories</span>
        </a>

        <a class="image-link col-sm-6 pb-4" href="/demo-store/c/shoes">
            <img src="/img/site/category-2.jpg" alt="Shoes">
            <span class="caption">Shoes</span>
        </a>
    </div>

    <div class="row h5 px-2 pb-1 mb-md-2 pb-lg-4">
        <a class="image-link col-6 col-md-3 pb-4" href="/demo-store/c/accessories/ties">
            <img src="/img/site/category-3.jpg" alt="Ties">
            <span class="caption">Ties</span>
        </a>

        <a class="image-link col-6 col-md-3 pb-4" href="/demo-store/c/tops/casual">
            <img src="/img/site/category-4.jpg" alt="Casual Tops">
            <span class="caption">Casual Tops</span>
        </a>

        <a class="image-link col-6 col-md-3 pb-4" href="/demo-store/c/tops/formal">
            <img src="/img/site/category-5.jpg" alt="Formal Tops">
            <span class="caption">Formal Tops</span>
        </a>

        <a class="image-link col-6 col-md-3 pb-4" href="/demo-store/c/accessories/scarves">
            <img src="/img/site/category-6.jpg" alt="Scarves">
            <span class="caption">Scarves</span>
        </a>
    </div>
</div>

<div class="container">
    <h5 class="text-center mb-4">Popular Products</h5>

    @Umbraco.RenderMacro("UcommerceHomepageCatalog")

    <h2 class="mt-5 pb-lg-5">About Us</h2>
</div>

<section class="jumbotron jumbotron-fluid p-0 my-5">
    <div class="container">
        <img class="jt-1" alt=" "  src="/img/site/jumbotron/jt1.jpg" >
        <img class="jt-2" alt=" "  src="/img/site/jumbotron/jt2.jpg" >

        <div class="jt-lead">
            <h6>Lorem ipsum</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tempor.</p>
        </div>
    </div>

    <div class="cms-content">
        <div class="container">
            @Model.Value("content")
        </div>
    </div>
</section>

<div class="container mb-5">
    <h2 class="text-center pt-lg-3 mb-4 mb-lg-5">Join ouR newsletteR</h2>

    <p class="text-center mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</p>

    <form action="http://thesitedoctor.createsend.com/t/y/s/xbjtk/" method="post" class="validate single-line-form mx-auto my-5" id="newsletter-form">
        <div class="input-append input-group control-group">
            <input type="email" name="cm-xbjtk-xbjtk" id="xbjtk-xbjtk" class="form-control required email" placeholder="email address">
            <span class="input-group-btn">
                <button class="btn btn-dark" type="submit">sign up</button>
            </span>
        </div>
        <p class="small text-center mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </form>
</div>
